<div class="container has-text-centered">
  <div class="column is-4 is-offset-4">
    <h3 class="title has-text-white">Login</h3>
    <hr class="login-hr">
    <p class="subtitle has-text-white">Please login to proceed.</p>
    
    <div class="box">
      <figure class="avatar">
        <%= image_tag "weather-sunny-showers-512.png", width: 128 %>
      </figure>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <div class="field">
          <div class="control">
            <%= f.email_field :email, autofocus: true, placeholder: 'Your Email', class: 'input is-large' %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.password_field :password, placeholder: 'Your Password', class: 'input is-large' %>
          </div>
        </div>
        
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>
      
        <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
      <% end %>

      <p class="has-text-white">
        <%= render "devise/shared/links" %>
      </p>
    </div>
  </div>
</div>
