<div class="card" id="city-<%= city.id %>">
  <div class="card-content">
    <% weather = TemperatureService.get_weather(city.name) %>
    <span>
      <%= city.name %><br/>
      <%= weather['temperature'] %>&ordm;F / <%= weather['temperature_in_celsius'] %>&ordm;C
    </span>
  </div>
  <footer class="card-footer">
    <a href="javascript:get_weather('<%= city.name %>')" class="card-footer-item">Show</a>
    <%= link_to 'Delete', city, method: :delete, remote: true, class: 'card-footer-item', data: { confirm: 'Are you sure?' } %>
  </footer>
</div>
<br>