<!DOCTYPE html>
<html>
  <head>
    <title>WeatherChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  </head>

  <body>

  <section class="hero is-info is-fullheight">
    <%= render partial: 'layouts/navbar' %>
    <div class="hero-body">
      <%= yield %>
    </div>
  </section>

  <%= yield :script_includes %>
  </body>
</html>
